*
{
    padding: 0pt;
    margin: 0pt;
}

body
{
font-family: 'Trebuchet MS', Helvetica, sans-serif;
background-image: url(fondo.jpg);
}

header{
    margin-top: 2pt;
    text-align: center;
}

#ingreso, #info
{
    border:#337ab7 4pt solid;
    padding: 8pt;
    margin:5pt 200pt 0pt;
    text-align: center;
    background: whitesmoke;
}

#info
{
    text-align: justify;
    margin:10pt;
    background: rgb(169, 199, 245);
}
#b1,#b2,.ver1
{
  width: 160px;
  height: 60px;
  text-align: center;
  background:rgb(169, 199, 245);
  font:bold 12pt "Trebuchet MS";
  border:#337ab7 2pt solid;
  border-radius: 10pt;
}

.ocultar
{
    display: none;
}

input[type=number]
{
    width: 50pt;
}


img
{
    width: 220pt;
    height: 120pt;
}

#cifrado,#descifrado
{
    height: 80pt;
    width: 300pt;
    border: #337ab7 1pt solid;
    margin: 0,auto;
    overflow-wrap: break-word;

}
textarea
{
    height: 80pt;
    width: 300pt;
}

#cuenta, #descifrando
{
    height:260pt;
    width: 420pt;
    margin-left: 280pt;
    margin-top: 10pt;
    border:#337ab7 2pt solid;
    background: whitesmoke; 
    
}
#descifrando
{
    margin-left: 300pt;    
}
#cuenta1,#descifrando1
{
    background:#337ab7;
    color: white;
    text-align: center;
}

#cuenta2,#descifrando2
{
    padding: 10pt;
    float: left;
}

#cuenta3,#descifrando3
{
    margin-top: 45pt;
    float: left;
}

.mensajes
{
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 10pt;
  border: #337ab7 2pt solid;
  font:bold 12pt "Trebuchet MS"; 
}

.mensajes:hover,#b1:hover,#b2:hover
{
    background: #337ab7;
    color: white;
}

footer
{
    margin-top: 30pt;
    text-align: center;
}

.ver1
{
    margin-left: 100pt;
    margin-top: 10pt;

}

.ver1:hover
{
    background: #337ab7;
    color: white;
}

.ver 
{
    float: left;
}

#denuncias
{
    border: #337ab7 2pt solid;
    width: 260pt;
    height: 260pt;
    float: left;
    padding: 3pt;
    margin-left: 15pt;
    overflow-wrap: break-word;
    background: white;
}
