*
{
    padding: 0pt;
    margin: 0pt;
}

body
{
font-family: 'Trebuchet MS', Helvetica, sans-serif;
background-image: url(fondo.jpg);
}

header{
    margin-top: 2pt;
    text-align: center;
}

#sec-pantalla-inicio, #sec-informacion-ong
{
    border:#337ab7 4pt solid;
    padding: 8pt;
    margin:5pt 200pt 0pt;
    text-align: center;
    background: whitesmoke;
}

#sec-informacion-ong
{
    text-align: justify;
    margin:10pt;
    background: rgb(169, 199, 245);
}
#btn-contar-historia,#btn-descifrar-mensaje,.ver1
{
  width: 160px;
  height: 60px;
  text-align: center;
  background:rgb(169, 199, 245);
  font:bold 12pt "Trebuchet MS";
  border:#337ab7 2pt solid;
  border-radius: 10pt;
}

.ocultar
{
    display: none;
}

input[type=number]
{
    width: 50pt;
}


img
{
    width: 220pt;
    height: 120pt;
}

#parrafo-mensaje-cifrado,#parrafo-mensaje-descifrado
{
    height: 80pt;
    width: 300pt;
    border: #337ab7 1pt solid;
    margin: 0,auto;
    overflow-wrap: break-word;

}
textarea
{
    height: 80pt;
    width: 300pt;
}

#sec-contar-historia, #sec-descifrar-mensaje
{
    height:260pt;
    width: 420pt;
    margin-left: 280pt;
    margin-top: 10pt;
    border:#337ab7 2pt solid;
    background: whitesmoke; 
    
}
#sec-descifrar-mensaje
{
    margin-left: 300pt;    
}
#titulo-contar-historia,#titulo-descifrar-mensaje
{
    background:#337ab7;
    color: white;
    text-align: center;
}

#datos-contar-historia,#datos-descifrar-mensaje
{
    padding: 10pt;
    float: left;
}

#btns-contar-historia,#btns-descifrar-mensaje
{
    margin-top: 45pt;
    float: left;
}

.btnsCipher
{
  width: 120px;
  height: 40px;
  text-align: center;
  border-radius: 10pt;
  border: #337ab7 2pt solid;
  font:bold 12pt "Trebuchet MS"; 
}

.btnsCipher:hover,#btn-contar-historia:hover,#btn-descifrar-mensaje:hover
{
    background: #337ab7;
    color: white;
}

footer
{
    margin-top: 30pt;
    text-align: center;
}

.btns-ver-historia
{
    margin-left: 100pt;
    margin-top: 10pt;

}

.btns-ver-historia:hover
{
    background: #337ab7;
    color: white;
}

.sec-ver-historia
{
    float: left;
}

#parrafo-historias-acumuladas
{
    border: #337ab7 2pt solid;
    width: 260pt;
    height: 260pt;
    float: left;
    padding: 3pt;
    margin-left: 15pt;
    overflow-wrap: break-word;
    background: white;
}

#completar-datos
{
    color: red;
    text-align: center;
    margin-bottom: 20pt;
}